********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-313-0\22-313-0.MAX  *
* Sun Aug 06 14:12:01 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       195      200      100                                                                                 
T2       315      10       200      100                                                                                 
T3       354      12       200      100                                                                                 
T4       472      48       200      100                                                                                 
T5       512      6        200      100                                                                                 
T6       551      8        200      100                                                                                 
T7       630      7        200      100                                                                                 
T8       1181     6        200      100                                                                                 
T9       1299     2        200      100                                                                                 
